# MongoDB Connection
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=intern_tracker

# Admin Default Password (will be hashed on first use)
DEFAULT_ADMIN_PASSWORD=K8@dS5Lp
